In [10]:
import numpy as np
import pandas as pd

1. Construya una función celsius_fahrenheit_1(celsius), que reciba un valor numérico de temperatura en centígrados y devuelva una temperatura en escala Fahrenheit.

In [11]:
def celcius_fahrenheit_1(celcius):
  return ((9/5)*celcius)+32

conversion=celcius_fahrenheit_1(19.5)
print(conversion)

67.1

2. Modifique la función anterior para devolver None en caso de cualquier error e imprimir mensaje error

In [12]:
def celcius_fahrenheit_1(celcius):
  try:
    
    if (celcius<100) and (celcius>-273.15):        
      resultado_conversion=((9/5)*celcius)+32
      return resultado_conversion
      print("La temperantura en Fahrenheit es:", resultado_conversion)

    else:
      resultado_conversion=None
      print("Solo se admiten valores entre -273.15 y 100 para la conversion de grados Celcius a Fahrenheit")
  except:
    resultado_conversion=None
celcius_fahrenheit_1(102)

Solo se admiten valores entre -273.15 y 100 para la conversion de grados Celcius a Fahrenheit

3. Construya una función sum_odd_even(a), que para un número dado a devuelva dos valores: la suma de todos los números pares y la suma de los números impares dentro del rango de a (pista: usa loop for)

In [13]:
def sum_odd_even(a):
  list_odd=[]
  list_even=[]
  for i in range(1,a+1):
    if (i%2==0):
      list_even.append(i)
    else:
      list_odd.append(i)

  sum=0
  for j in range(0,len(list_even)):
    sum=sum+list_even[j]
  sum2=0
  for k in range(0,len(list_odd)):
    sum2=sum2+list_odd[k]
  return sum,sum2


sum_odd_even(5)

(6, 9)

4. La función $$ \frac{1}{1-x} $$
se puede aproximar con la siguiente suma:

$$ \frac{1}{1-x}=\sum\limits_{k=0}^\infty x^k $$

Donde $k$ es el número de los términos de la suma, responsable de cuán buena será la aproximación, si $k=2$ la aproximación es peor que si $k=5$...

Construya una función div_x(x,k) que acepte dos parámetros $x$ y $k$ y devuelva valor de aproximación de función: $$ \frac{1}{1-x} $$

In [36]:
def div_x(x,k):
    aprox=0.0

    for i in range(0,k):
        aprox=aprox+(x**i)
    return aprox

div_x(0.1,2)

1.1

5. Reto: Usando doble for y range() imprima la siguiente pirámide:

0 

0 1

0 1 2

0 1 2 3

0 1 2 3 4

0 1 2 3 4 5

0 1 2 3 4 5 6

0 1 2 3 4 5 6 7

0 1 2 3 4 5 6 7 8

0 1 2 3 4 5 6 7 8 9

In [16]:
for c in range(1,11):
  print(end='\n')
  for q in range(0,c):
    print(q,end=' ')

0
0 1
0 1 2
0 1 2 3
0 1 2 3 4
0 1 2 3 4 5
0 1 2 3 4 5 6
0 1 2 3 4 5 6 7
0 1 2 3 4 5 6 7 8
0 1 2 3 4 5 6 7 8 9

6. Reto: Usando doble for y range() imprima la siguiente pirámide:

9 8 7 6 5 4 3 2 1 0

8 7 6 5 4 3 2 1 0

7 6 5 4 3 2 1 0

6 5 4 3 2 1 0

5 4 3 2 1 0

4 3 2 1 0

3 2 1 0

2 1 0

1 0

0

In [17]:
for p in range(9,-1,-1):
  print(end='\n')
  for w in range(p,-1,-1):
    print(w, end=' ')

9 8 7 6 5 4 3 2 1 0
8 7 6 5 4 3 2 1 0
7 6 5 4 3 2 1 0
6 5 4 3 2 1 0
5 4 3 2 1 0
4 3 2 1 0
3 2 1 0
2 1 0
1 0
0